<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="wrapper">
      <div class="header">
        <div class="container">
          <ul class="nav">
            <li><%= link_to 'Страници', pages_path %></li>

            <% @pages.each do |page| %>
            <li><%= link_to page.name, page_path(page) %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="container">
        <%= yield %>
      </div>
  </div>
  </body>
</html>
